* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.container {
    width: 40%;
    min-width: 500px;
    background-color: white;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: 0 4px 6px -6px #222;
}

.title h1, .title button {
    margin: 10px 15px;
}


.tweets {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet--card {
    height: 100px;
    width: 80%;
    margin-top: 10px;
    box-shadow: 0 0 5px 2px #d0d0d0;
    border-radius: 5px;
    padding: 5px;
}

.tweet--user {
    font-size: 10px;
}

hr {
    border: 3px solid #bbb;
}

#myMind {
    margin-top: 15px;
    text-indent: 0.5em;
}

#myMind + button {
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(73, 73, 255);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
    color: white
}